<?xml version="1.0"?>
<!--
/**
 * Webkul_Grid Menu
 *
 * @category    Webkul
 * @package     Webkul_Grid
 * @author      Webkul Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Assignment::manager" title="Reviews" module="Training_Assignment" sortOrder="10" resource="Training_Assignment::manager"/>
        <add id="Training_Assignment::add_row" title="Reviews Manager" module="Training_Assignment" sortOrder="20" parent="Training_Assignment::manager" action="review/review" resource="Training_Assignment::add_row"/>
    </menu>
</config>