<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Reviews_Settings" sortOrder="120" translate="label">
            <label>Reviews Settings</label>
        </tab>
        <section id="FirstSection" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Review Section</label>
            <tab>Reviews_Settings</tab>
            <resource>Training_Assignment::parent</resource>
            <group id="Firstgroup" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Review Group</label>
                <field id="FirstField" translate="label" sortOrder="0" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Product Title</label>
                </field>
                <field id="SecondField" translate="label" sortOrder="0" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/Disable Title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>