<?xml version="1.0"?>
<!--
/** Review di xml
 * @category  Training
 * @package   Training_Assignment
 * @author    Training
 * @copyright Copyright (c) 2010-2017 Training Software Private Limited
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Assignment\Api\Data\GridInterface" type="Training\Assignment\Model\Reviews" />

    <virtualType name="Training\Assignment\Model\ResourceModel\Reviews\Reviews\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_product_review</argument>
            <argument name="resourceModel" xsi:type="string">Training\Assignment\Model\ResourceModel\Reviews</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="review_record_review_list_data_source" xsi:type="string">Training\Assignment\Model\ResourceModel\Reviews\Reviews\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Training\Assignment\Api\GetProductsInterface" type="Training\Assignment\Model\GetProducts" />

</config>